* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}

.main {
    height: 100%;
    width: 100%
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    border-bottom: 2px solid #dadada;
    margin-bottom: 4vw;
}

.snup {
    color: rgb(232, 121, 29);
}

.nav h2 {

    font-size: 2.5vw;
    font-weight: 600;
}

.nav-cnt {
    display: flex;
    gap: 4vw;
}

.nav-cnt h4 {
    font-size: 1.5vw;
    font-weight: 400;
}

.nav-cnt i {
    font-size: 2.5vw;
    display: none;
    font-weight: 800;
}

.content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
    padding: 5vw 4vw;
}

.left h1 {
    font-size: 3vw;
    line-height: 3vw;
    font-weight: 450;
    text-transform: uppercase;

}

.left p {
    font-weight: 370;
    font-size: 1.25vw;
    line-height: 1.7vw;
    color: #666;
    width: 89%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.left button {
    font-size: 1.5vw;
    padding: 0.75vw 1.5vw;
    border: none;
    border-radius: 5px;
    font-weight: 450;
    background-color: rgb(232, 121, 29);
    color: azure;

}

.right {
    height: 100%;
    width: 50%;
}

.right img {
    height: 75%;
    width: 100%;

}

@media (max-width:600px) {
    .nav {
        padding: 0 5vw;
        height: 60px;
    }

    .nav h2 {
        font-size: 6vw;
    }

    .nav-cnt h4 {
        display: none;
    }

    .nav-cnt i {
        font-size: 5vw;
        display: block
    }

    .content {
        height: calc(100%-60px);
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 50%;
        padding: 4vw 6vw;
    }

    .right {
        width: 100%;
        height: 50%;
    }

    .left h1 {
        font-size: 6.5vw;
        line-height: 5.5vw;
    }

    .left p {
        font-size: 3.5vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 7vw;
        line-height: 3vw;
    }

    .content button {
        padding: 3vw 6vw;
        font-size: 5vw;
    }
}